$primary: #93827F;
$nav-text-color:#E0D2C3;
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;
    font-size: 1.5em;
    a {
        color: $nav-text-color;
        text-decoration: none;
        flex-direction: row;
        justify-content: flex-end;
    }
    a.logo {
        font-weight: bold;
        padding-left: 1em;
    }
    nav {
        float: right;
        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            li a {
                padding: 1em;
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}