<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">Maths Formulae</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/theory">Theory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="perimeter">Perimeter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/area">Area</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/quiz">Quiz</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>