        $text-color: #6BA292;
        section {
            color: darken($text-color, 10%);
            font-size: 1.5em;
        }
        
        article {
            h2 {
                margin: 5%;
                text-align: center;
            }
            h3 {
                text-align: center;
            }
            &>div {
                margin: 5%;
                img {
                    opacity: 0.1;
                }
            }
        }