<div class="row" ng-controller="ChirpanController">
    <div class="row jumbotron">
        <div class="col-md-6 ">
            <h2 class="text-center"><strong>{{chirpanInfo.name}}</strong></h2>
            <button class="btn btn-sm pull-right" ng-click="showInfo()">Info</button>
            <div ng-hide="hideInfo">
                <div class="row">
                    <ul class="col-md-10 list-group">
                        <li class="list-group-item text-left">Географска дължина {{chirpanInfo.location.longitude}}</li>
                        <li class="list-group-item text-left">Географска ширина {{chirpanInfo.location.latitude}}</li>
                    </ul>
                </div>
                <p>{{chirpanInfo.teritory}}</p>
            </div>
        </div>
        <div class="col-md-6 image-container">
            <img src="{{chirpanInfo.image}}" alt="City Nova Zagora"></img>
        </div>
    </div>
</div>
