<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h3> Стара Загора</h3>
            <p>Ста̀ра Заго̀ра е град, разположен в Южна България, и един от основните икономически центрове в страната. Той е център на едноименните община, област и на регионалната асоциация на общините РАО Тракия. С население от 149 137 души по данни на ГРАО към 31.12.2014 г. , Стара Загора е 6-та по съвкупно население в страната, но 5-ти по големина по население до 18 г. със значителна преднина пред 6-я Русе, който пък има значителна преднина в населението над 65 г. Стара Загора образува по данни на НСИ 5-тият по големина агломерационен ареал в България с население от 213 444 жители. В града се намира най-старият в Тракия български театър - Драматичен театър "Гео Милев". През 1925 г. е открита втората след София опера — Южнобългарската опера (днес Държавна опера Стара Загора). В града се намира античният Форум на Августа Траяна, а на 14 км от центъра на града е разположен националният балнеологичен курорт Старозагорски минерални бани.
            </p>
            <p>История Стара Загора е един от най-древните градове в България и Югоизточна Европа. През епохите е носил различни имена: Берое, Августа Траяна (на латински: VLPIA•AVGVSTA•TRAIANA, на старогръцки: Ουλπία Αυγούστα Τραϊανή), Иринополис (на старогръцки: Ειρηνούπολις), Боруй, Верея, Загр-и Атик (на османски турски: زغرهء عتيق), Ески Заара (на османски турски: اسكى زغره), Железник и Стара Загора.
            </p>
            <p></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron image-container">
            <img src="img/Stara-Zagora.jpg" alt="Stara Zagora City">
            <p>Изглед от птичи поглед</p>
        </div>
        <div class="jumbotron image-container">
            <img src="img/Stara-Zagora-2.jpg" alt="Stara Zagora City">
            <p>Изглед от сателит</p>
        </div>
        <div class="jumbotron image-container">
            <img src="img/Stara-Zagora-3.jpg" alt="Stara Zagora City">
            <p>Изглед от Самарското знаме</p>
        </div>
    </div>
</div>
