<div class="row text-center text-success">
    <h3>Корици на книги </h3>
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/books/balkanskata-liniq.jpg">
            <img src="img/books/balkanskata-liniq.jpg" class=" thumbnail" alt="balkanskata-liniq" />
        </a>

    </div>
    <div class="col-md-3 sizes">
        <a href="../img/books/kniga-kristina-bovanowa.jpg">
            <img src="img/books/kniga-kristina-bovanowa.jpg" class=" thumbnail" alt="kniga-kristina-bovanowa" />
        </a>

    </div>

    <div class="col-md-3 sizes">
        <a href="../img/books/knigi-na-predsedatelq.jpg">
            <img src="img/books/knigi-na-predsedatelq.jpg" class=" thumbnail" alt="knigi-na-predsedatelq" />
        </a>

    </div>
</div>
<div class="row text-center text-success">
    <h3>Вестници</h3>
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/books/stariqt-litglas.jpg">
            <img src="img/books/stariqt-litglas.jpg" class=" thumbnail" alt="stariqt-litglas" />
        </a>

    </div>
    <div class="col-md-3 sizes">
        <a href="../img/books/westnik-litglas.jpg">
            <img src="img/books/westnik-litglas.jpg" class=" thumbnail" alt="westnik-litglas" />
        </a>

    </div>

    <div class="col-md-3 sizes">
        <a href="../img/books/wsichki-sytrudnici.jpg">
            <img src="img/books/wsichki-sytrudnici.jpg" class=" thumbnail" alt="wsichki-sytrudnici" />
        </a>

    </div>
    <div class="col-md-3 sizes">
        <a href="../img/books/zaglavka.jpg">
            <img src="img/books/zaglavka.jpg" class=" thumbnail" alt="zaglavka" />
        </a>

    </div>
</div>
