 <div class="jumbotron" ng-controller="BookDetailController">
     <div class="row text-center">
         <h3>Списък на издадените произведения</h3>
         <hr />
     </div>
      <div class="row">
         <div class="col-md-3"><strong> Автор </strong></div>
         <div class="col-md-3"><strong> Заглавие </strong></div>
         <div class="col-md-3"><strong> Жанр </strong></div>
         <div class="col-md-3"><strong> Година на издаване </strong></div>
     </div>
     <div class="row">
         <div class="col-md-3"> {{ book.author }}</div>
         <div class="col-md-3"> {{ book.name }}</div>
         <div class="col-md-3"> {{ book.author }}</div>
         <div class="col-md-3"> {{ book.date }}</div>
     </div>
    

 </div>