<div class="row text-center text-success">
    <h3>Корици на книги </h3>
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/books/balkanskata-liniq.jpg">
            <img src="img/books/balkanskata-liniq.jpg" class=" thumbnail" alt="balkanska liniq" />
        </a>

    </div>
    <div class="col-md-3 sizes">
        <a href="../img/books/kniga-kristina-bovanowa.jpg">
            <img src="img/books/kniga-kristina-bovanowa.jpg" class=" thumbnail" alt="Book Kristina Bojanova" />
        </a>

    </div>

    <div class="col-md-3 sizes">
        <a href="../img/books/knigi-na-predsedatelq.jpg">
            <img src="img/books/knigi-na-predsedatelq.jpg" class=" thumbnail" alt="Books of Chairman" />
        </a>

    </div>
</div>
<div class="row text-center text-success">
    <h3>Вестници</h3>
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/books/stariqt-litglas.jpg">
            <img src="img/books/stariqt-litglas.jpg" class=" thumbnail" alt="old lidglas" />
        </a>

    </div>
    <div class="col-md-3 sizes">
        <a href="../img/books/westnik-litglas.jpg">
            <img src="img/books/westnik-litglas.jpg" class=" thumbnail" alt="newspaper Litglas" />
        </a>

    </div>

    <div class="col-md-3 sizes">
        <a href="../img/books/wsichki-sytrudnici.jpg">
            <img src="img/books/wsichki-sytrudnici.jpg" class=" thumbnail" alt="old emplyees" />
        </a>

    </div>
    <div class="col-md-3 sizes">
        <a href="../img/books/zaglavka.jpg">
            <img src="img/books/zaglavka.jpg" class=" thumbnail" alt="start sheet" />
        </a>

    </div>
</div>
