<div class="row text-center text-success">
    <h3>Детски изяви</h3>
    <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/children-work/druga-snimka-detska-kniga.jpg">
            <img src="../img/children-work/druga-snimka-detska-kniga.jpg" class=" thumbnail" alt="Child book" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/children-work/snimka-chetene-detska-kniga.jpg">
            <img src="../img/children-work/snimka-chetene-detska-kniga.jpg" class=" thumbnail" alt="Reading child book" />
        </a>
    </div>

</div>