<h2>НАРОДНО ЧИТАЛИЩЕ „ДАСКАЛ ПЕТЪР ИВАНОВ”</h2>
<div class="lead">Адрес: Стара Загора, Ул.”Христо Ботев” 4 </div>
<div class="lead">тел. 042 649110</div>
<div class="lead">GSM  0888 790135</div>
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<div id="map-canvas"></div>



  