<div class="row">
    <div class="col-md-8">
       <div class="jumbotron">
    <h3>НАРОДНО ЧИТАЛИЩЕ „ДАСКАЛ ПЕТЪР ИВАНОВ”</h3>
    <div class="lead">
       <strong>Читалището е основано на 1 март 1988 г. </strong> То е настанено от общината в приземния етаж на бивш клуб на ОФ  и съжителства с библиотека, която е филиал на библиотека „Родина”.
Разполага с 4 стаи : една зала за рок и брейк-състави, стая за детска литературна школа, стая за Редакцията на в.”Литературен глас”, литературната група и Издателството, стая за председателя.
Читалището ползва салона на горния етаж, съвместно с Клуба на пенсионера, с когото развива и някои съвместни дейности, нуждаещи се от по-голяма посещаемост /концерти, събрания, художествени програми и др./.
    </div>
    <div class="lead">
        През повече от двайсет и петгодишната си история тук са започнали своята дейност редица състави, които впоследствие се изявяват на национално и международно поле. Става дума за рок-съставите и Школата по изобразително изкуство „Икар”.  Читалището подпомага според възможностите си Фолклорния състав на Клуба на пенсионера.
Вестник „Литературен глас”  навърши кръгла годишнина – 20 г. от излизането на първия брой. На страниците му се печатат местни и национални автори.
Издателството е съдействало на десетки автори с предпечатна подготовка и връзка с печатници. Читалището е издало две литературни антологии.
Литературната група е издала три сборника.
    </div>
    <div class="lead">
        <strong>Школата по изобразително изкуство за деца </strong> има десетки местни, международни и национални награди.
Всяка година читалището предлага качествени прояви за Годишния културен календар на общината  -  честване на творци и книги, гостуване на автори от страната, литературни конкурси и др.
    </div>
    <div class="lead">
        Въпреки оскъдната материална база и нуждата от ремонт /такъв не е правен от 60-те години след настаняването на библиотеката/ читалището има над 150 члена и приютява десетки творци, които се изявяват според възможностите си. И има заслужен авторитет в града и страната за разностранната си дейност.
Щатното разписание е 1 бройка – председател – Йордан Атанасов, който е и главен редактор на вестник „Литереатурен глас”.
    </div>
</div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h3 class="panel-title">Дейности</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
  <li class="list-group-item">литературен клуб</li>
  <li class="list-group-item">детски клуб</li>
  <li class="list-group-item">музикална група</li>
  
</ul>
            </div>
        </div>
    </div>
</div>
