<div class="row">
    <div class="col-md-8">
        <div class="jumbotron newspaper-font">
            <div class="red ">
                <ul class="list-group">
                        <li class="list-group-item text-left">ДРУЖЕСТВО НА ПИСАТЕЛИТЕ - СТАРА ЗАГОРА</li>
                        <li class="list-group-item text-left">АРТ ГАЛЕРИЯ "АВИТОХОЛ" - СТАРА ЗАГОРА</li>
                        <li class="list-group-item text-left">ИЗДАТЕЛСКИ КОНСОРЦИУМ "КОТА" - СТАРА ЗАГОРА</li>
                        <li class="list-group-item text-left">РЕГИОНАЛНА БИБЛИОТЕКА "ЗАХАРИЙ КНЯЖЕСКИ" - СТАРА ЗАГОРА</li>
                        <li class="list-group-item text-left">ОБЯВЯВАТ  ТРЕТИ ЕЖЕГОДЕН НАЦИОНАЛЕН И С МЕЖДУНАРОДНО УЧАСТИЕ ПОЕТИЧЕН КОНКУРС В ПАМЕТ НА АКАД. НИКОЛАЙ ЛИЛИЕВ</li>
                        </ul>
                    </div>
                    <div class="red list-group">
                        <ul>
                            <li>Конкурсът е анонимен, без възрастови ограничения, на свободна тема.</li>
                     
                            <li>Всеки автор от България или от чужбина, който желае да участва в поетичния конкурс, изпраща до 3 (ТРИ) свои непубликувани поетични произведения на електронен адрес: ptici_liliev@abv.bg в срок до 15 май 2016 година, неделя, 24 ч.</li>
                            <li>Писмата трябва да съдържат ДВА файла - единият с трите стихотворения, а другият - с личните данни на участника (имена, възраст, адрес, телефон).</li>
                            <li>Ще бъдат присъдени следните награди: Първа награда - 500 лв., Две втори награди - по 300 лв. Две трети награди - по 200 лв.</li>
                            <li>Поощрителни награди за млади таланти - почетна грамота и презентация на страниците на в. "Литературен глас" и сп. "Птици в нощта".</li>
                            <li>Наградите ще бъдат връчени на 3 юни 2016 г. (петък) от 13 часа в Залата на Регионална библиотека "Захарий Княжески" - Стара Загора.</li>
                            <li>Резултатите ще бъдат публикувани на страниците на в. "Литературен глас" и сп. "Птици в нощта", както и в литературни електронни сайтове.</li>
                        </ul>
                    </div>
            <div class="newspaper-font">НАРОДНО ЧИТАЛИЩЕ „ДАСКАЛ ПЕТЪР ИВАНОВ”</div>
            <div class="lead">
                

                <strong>Читалището е основано на 1 март 1988 г. </strong>То е настанено от общината в приземния етаж на бивш клуб на ОФ  и съжителства с библиотека, която е филиал на библиотека „Родина”.
Разполага с 4 стаи : една зала за рок и брейк-състави, стая за детска литературна школа, стая за Редакцията на в.”Литературен глас”, литературната група и Издателството, стая за председателя.
Читалището ползва салона на горния етаж, съвместно с Клуба на пенсионера, с когото развива и някои съвместни дейности, нуждаещи се от по-голяма посещаемост /концерти, събрания, художествени програми и др./.
            </div>
            <div class="lead">
                През повече от двайсет и петгодишната си история тук са започнали своята дейност редица състави, които впоследствие се изявяват на национално и международно поле. Става дума за рок-съставите и Школата по изобразително изкуство „Икар”.  Читалището подпомага според възможностите си Фолклорния състав на Клуба на пенсионера.
Вестник „Литературен глас”  навърши кръгла годишнина – 20 г. от излизането на първия брой. На страниците му се печатат местни и национални автори.
Издателството е съдействало на десетки автори с предпечатна подготовка и връзка с печатници. Читалището е издало две литературни антологии.
Литературната група е издала три сборника.
            </div>
            <div class="lead">
                <strong>Школата по изобразително изкуство за деца </strong>има десетки местни, международни и национални награди.
Всяка година читалището предлага качествени прояви за Годишния културен календар на общината  -  честване на творци и книги, гостуване на автори от страната, литературни конкурси и др.
            </div>
            <div class="lead">
                Въпреки оскъдната материална база и нуждата от ремонт /такъв не е правен от 60-те години след настаняването на библиотеката/ читалището има над 150 члена и приютява десетки творци, които се изявяват според възможностите си. И има заслужен авторитет в града и страната за разностранната си дейност.
Щатното разписание е 1 бройка – председател – Йордан Атанасов, който е и главен редактор на вестник „Литереатурен глас”.
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h3 class="panel-title">Дейности</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#/photo-gallery">Литературен клуб</a></li>
                    <li class="list-group-item"><a href="#/children-work">Dетски клуб</a></li>
                    <li class="list-group-item"><a href="#">Mузикална група</a></li>
                    <li class="list-group-item"><a href="#">Библиотека</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
