<div class="row">
    <div class="col-md-8">
        <div class="jumbotron newspaper-font">


                <div class="lead sizes">
                  <a href="../img/gallery/jeko2.jpg">
                      <img src="img/gallery/jeko2.jpg" class=" thumbnail" title="Jeko Hristov" alt="Jeko Hristov" />
                  </a>

                </div>
                <div class="lead">Да си спомним за поета - 13 години изминаха от смъртта на Жеко Христов - 9 септември 2003 година"
                и няколко стихотворения на Жеко Христов</div>

                <pre class="lead">
Четеш ми стиховете и изричаш -
изглежда е голям наивник този Жеко Христов…
Коне и кучета, треви, щурчета да обичаш,
когато край теб свистят ракетни писти…

Не го разбирам туй… И ме приключваш!
Но твоето учудване и аз не ще подмина.
Кажи, защо край тия писти твойто куче
все още дири четирилистна детелина?

                  ЧУЧУЛИГА

След дълга нощ
излязох на полето
и тръгнах чист и сам
по чергата зелена на ливадите.

И там разбрах, че да умреш
и колкото да са пред теб преградите,
не е събитие голямо.

Пред мене, после и над мене,
чучулига
изгря като усмивката на мама.
Видях я как на раменца
небето сам самичка вдига…

И тръгнаха след нея мачкани треви.
Затичах се и аз.
Роса лицето ми изми.
И песен заклокочи из гърдите ми…

И тъй ми домъчня за дните,
прекарани в мълчание
и самота…

Но вече стига.

По-скоро стрелял бих в човек
отколкото
във чучулига.


                ЗВЕЗДИ, ЗВЕЗДИ…

Звезди, звезди…
Самотни като мисъл
не облечена във думи още…

Звезди, звезди…
Далечни и студени като глас
все още не извикал скъпо име…

Звезди, звезди…

Души човешки,
падащи в дълбоки нощи
пред очите ми -
от загадката ви удивени…

Звезди, звезди…
Какво ли искате в нощта дълбока
със мен да споделите?
            </pre>
            <div class="newspaper-font">НАРОДНО ЧИТАЛИЩЕ „ДАСКАЛ ПЕТЪР ИВАНОВ”</div>
            <div class="lead">


                <strong>Читалището е основано на 1 март 1988 г. </strong>То е настанено от общината в приземния етаж на бивш клуб на ОФ  и съжителства с библиотека, която е филиал на библиотека „Родина”.
Разполага с 4 стаи : една зала за рок и брейк-състави, стая за детска литературна школа, стая за Редакцията на в.”Литературен глас”, литературната група и Издателството, стая за председателя.
Читалището ползва салона на горния етаж, съвместно с Клуба на пенсионера, с когото развива и някои съвместни дейности, нуждаещи се от по-голяма посещаемост /концерти, събрания, художествени програми и др./.
            </div>
            <div class="lead">
                През повече от двайсет и петгодишната си история тук са започнали своята дейност редица състави, които впоследствие се изявяват на национално и международно поле. Става дума за рок-съставите и Школата по изобразително изкуство „Икар”.  Читалището подпомага според възможностите си Фолклорния състав на Клуба на пенсионера.
Вестник „Литературен глас”  навърши кръгла годишнина – 20 г. от излизането на първия брой. На страниците му се печатат местни и национални автори.
Издателството е съдействало на десетки автори с предпечатна подготовка и връзка с печатници. Читалището е издало две литературни антологии.
Литературната група е издала три сборника.
            </div>
            <div class="lead">
                <strong>Школата по изобразително изкуство за деца </strong>има десетки местни, международни и национални награди.
Всяка година читалището предлага качествени прояви за Годишния културен календар на общината  -  честване на творци и книги, гостуване на автори от страната, литературни конкурси и др.
            </div>
            <div class="lead">
                Въпреки оскъдната материална база и нуждата от ремонт /такъв не е правен от 60-те години след настаняването на библиотеката/ читалището има над 150 члена и приютява десетки творци, които се изявяват според възможностите си. И има заслужен авторитет в града и страната за разностранната си дейност.
Щатното разписание е 1 бройка – председател – Йордан Атанасов, който е и главен редактор на вестник „Литереатурен глас”.
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h3 class="panel-title">Дейности</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#/photo-gallery">Литературен клуб</a></li>
                    <li class="list-group-item"><a href="#/children-work">Dетски клуб</a></li>
                    <li class="list-group-item"><a href="#">Mузикална група</a></li>
                    <li class="list-group-item"><a href="#">Библиотека</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
