<div class="jumbotron" ng-controller="BookDetailController" ng-cloak>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item text-center"><a href="data/vestnik_163.pdf" target="_blank">Вестник номер 163</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_165.pdf" target="_blank">Вестник номер 165</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_167.pdf" target="_blank">Вестник номер 167</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_168.pdf" target="_blank">Вестник номер 168</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_169.pdf" target="_blank">Вестник номер 169</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_171.pdf" target="_blank">Вестник номер 171</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_178_mart.pdf" target="_blank">Вестник номер 178</a></li>
        </ul>
    </div>
</div>
