<div class="jumbotron newspaper-font" ng-controller="BookDetailController" ng-cloak>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item text-center"><a href="data/vestnik_163.pdf" target="_blank">Вестник номер 163</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_165.pdf" target="_blank">Вестник номер 165</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_167.pdf" target="_blank">Вестник номер 167</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_168.pdf" target="_blank">Вестник номер 168</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_169.pdf" target="_blank">Вестник номер 169</a></li>
             <li class="list-group-item text-center"><a href="data/vestnik_170.pdf" target="_blank">Вестник номер 170</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_171.pdf" target="_blank">Вестник номер 171</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_172.pdf" target="_blank">Вестник номер 172</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_173.pdf" target="_blank">Вестник номер 173</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_174.pdf" target="_blank">Вестник номер 174</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_175.pdf" target="_blank">Вестник номер 175</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_176.pdf" target="_blank">Вестник номер 176</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_177.pdf" target="_blank">Вестник номер 177</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_178_mart.pdf" target="_blank">Вестник номер 178</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_179.pdf" target="_blank">Вестник номер 179</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_180.pdf" target="_blank">Вестник номер 180</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_181.pdf" target="_blank">Вестник номер 181</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_182.pdf" target="_blank">Вестник номер 182</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_183.pdf" target="_blank">Вестник номер 183</a></li>
        </ul>
    </div>
</div>
