<div class="jumbotron" ng-controller="BookDetailController" ng-cloak>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item text-center"><a href="data/vestnik_163.pdf" class="link">Вестник номер номер 163</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_165.pdf" class="link">Вестник номер номер 165</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_167.pdf" class="link">Вестник номер номер 167</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_168.pdf" class="link">Вестник номер номер 168</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_169.pdf" class="link">Вестник номер номер 169</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_171.pdf" class="link">Вестник номер номер 171</a></li>
            <li class="list-group-item text-center"><a href="data/vestnik_178_mart.pdf" class="link">Вестник номер номер 178</a></li>
        </ul>
    </div>
</div>
