<div class="row text-center text-success">
    <h3>Общи снимки</h3>
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/nagrada-na-predsedatelq.jpg">
            <img src="../img/gallery/nagrada-na-predsedatelq.jpg" class=" thumbnail" alt="nagrada-na-predsedatelq." />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/poetesata-iwanowa-i-atanasow.jpg">
            <img src="../img/gallery/poetesata-iwanowa-i-atanasow.jpg" class=" thumbnail" alt="poetesata-iwanowa-i-atanasow" />
        </a>
    </div>

    <div class="col-md-3 sizes">
        <a href="../img/gallery/snimka-s-kameliq.JPG">
            <img src="../img/gallery/snimka-s-kameliq.JPG" class=" thumbnail" alt="snimka-s-kameliq" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/violeta-boncheva.jpg">
            <img src="../img/gallery/violeta-boncheva.jpg" class=" thumbnail" alt="violeta-boncheva" />
        </a>
    </div>
</div>

