<div class="row text-center text-success">
    <h3>Общи снимки</h3>
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/nagrada-na-predsedatelq.jpg">
            <img src="img/gallery/nagrada-na-predsedatelq.jpg" class=" thumbnail" alt="nagrada" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/poetesata-iwanowa-i-atanasow.jpg">
            <img src="img/gallery/poetesata-iwanowa-i-atanasow.jpg" class=" thumbnail" alt="poetesata Ivanova i Atanasov" />
        </a>
    </div>

    <div class="col-md-3 sizes">
        <a href="../img/gallery/snimka-s-kameliq.JPG">
            <img src="img/gallery/snimka-s-kameliq.JPG" class=" thumbnail" alt="photo s Kameliq" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/gramota-konkurs.jpg">
            <img src="img/gallery/gramota-konkurs.jpg" class="thumbnail" thumbnail" alt="konkurs Gramota" />
        </a>
    </div>
</div>
<div class="row text-center text-success">
     <hr />
</div>
<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/SAM_1171.JPG">
            <img src="img/gallery/SAM_1171.JPG" class=" thumbnail" alt="sbirka" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/SAM_1153.JPG">
            <img src="img/gallery/SAM_1153.JPG" class=" thumbnail" alt="sbirka 2" />
        </a>
    </div>

    <div class="col-md-3 sizes">
        <a href="../img/gallery/snimka-atanasov-za-puls.jpg">
            <img src="img/gallery/snimka-atanasov-za-puls.jpg" class=" thumbnail" alt="Atanasov za Puls" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/snimka-jordan-atanasov.jpg">
            <img src="img/gallery/snimka-jordan-atanasov.jpg" class="thumbnail" thumbnail" alt="Jordan Atanasov" />
        </a>
    </div>
</div>

<div class="row text-center text-success">
     <hr />
</div>

<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/snimka-chetene-detska-kniga.jpg">
            <img src="img/gallery/snimka-chetene-detska-kniga.jpg" class=" thumbnail" alt="detska kniga chetene" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/017211961.jpg">
            <img src="img/gallery/017211961.jpg" class=" thumbnail" alt="obsta snimka" />
        </a>
    </div>

    <div class="col-md-3 sizes">
        <a href="../img/gallery/rumen-stojanov.jpg">
            <img src="img/gallery/rumen-stojanov.jpg" class=" thumbnail" alt="Rumen Stojanov" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/nagrada-ot-oblasten-upravitel.jpg">
            <img src="img/gallery/nagrada-ot-oblasten-upravitel.jpg" class="thumbnail" thumbnail" alt="Nagrada ot oblasten upravitel" />
        </a>
    </div>
</div>

<div class="row text-center text-success">
     <hr />
</div>

<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/SAM_1396.JPG">
            <img src="img/gallery/SAM_1396.JPG" class=" thumbnail" alt="chetene" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/atanasov-chete-stihove.jpg">
            <img src="img/gallery/atanasov-chete-stihove.jpg" class=" thumbnail" alt="atanasov chete stihove" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/uchrediavane.jpg">
            <img src="img/gallery/uchrediavane.jpg" class=" thumbnail" alt="uchrediavane" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/grupa-poeti.jpg">
            <img src="img/gallery/grupa-poeti.jpg" class=" thumbnail" alt="grupa poeti" />
        </a>
    </div>

</div>

<div class="row text-center text-success">
     <hr />
</div>

<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/SAM_1396.JPG">
            <img src="img/gallery/SAM_1396.JPG" class=" thumbnail" alt="chetene" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/atanasov-chete-stihove.jpg">
            <img src="img/gallery/atanasov-chete-stihove.jpg" class=" thumbnail" alt="atanasov chete stihove" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/uchrediavane.jpg">
            <img src="img/gallery/uchrediavane.jpg" class=" thumbnail" alt="uchrediavane" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/grupa-poeti.jpg">
            <img src="img/gallery/grupa-poeti.jpg" class=" thumbnail" alt="grupa poeti" />
        </a>
    </div>

</div>

<div class="row text-center text-success">
     <hr />
</div>

<div class="row">
    <div class="col-md-3 sizes">
        <a href="../img/gallery/kmeta-zhelev-vrychva-nagrada.jpg">
            <img src="img/gallery/kmeta-zhelev-vrychva-nagrada.jpg" class=" thumbnail" alt="kmeta zhelev vrychva nagrada" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/poeti v mehanata na stoilov.jpg">
            <img src="img/gallery/poeti v mehanata na stoilov.jpg" class=" thumbnail" alt="poeti v mehanata na stoilov" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/premiera na kniga na atanasov 2001.jpg">
            <img src="img/gallery/premiera na kniga na atanasov 2001.jpg" class=" thumbnail" alt="premiera na kniga na atanasov 2001" />
        </a>
    </div>
    <div class="col-md-3 sizes">
        <a href="../img/gallery/zhelio-zhelev-chete-litglas.jpg">
            <img src="img/gallery/zhelio-zhelev-chete-litglas.jpg" class=" thumbnail" alt="zhelio zhelev chete litglas" />
        </a>
    </div>

</div>
