<div class="row">
    <div class="col-md-3 ">
        <a href="img/balkanskata-liniq.jpg">
            <img src="img/balkanskata-liniq.jpg" class="img-responsive thumbnail" alt="balkanskata-liniq" />
        </a>
        <p>Инфо</p>
    </div>
    <div class="col-md-3">
        <a href="img/nagrada-na-predsedatelq.jpg">
            <img src="img/nagrada-na-predsedatelq.jpg" class="img-responsive thumbnail" alt="nagrada-na-predsedatelq" />
        </a>
         <p>Инфо</p>
    </div>
   
    <div class="col-md-3 ">
        <a href="img/kniga-kristina-bovanowa.jpg">
            <img src="../img/kniga-kristina-bovanowa.jpg" class="img-responsive thumbnail" alt="kniga-kristina-bovanowa" />
        </a>
         <p>Инфо</p>
    </div>
    <div class="col-md-3 ">
        <a href="img/knigi-na-predsedatelq.jpg" >
            <img src="../img/knigi-na-predsedatelq.jpg" class="img-responsive thumbnail" alt="knigi-na-predsedatelq" />
        </a>
         <p>Инфо</p>
    </div>
</div>


<div class="row">
   
</div>