$font-size:1em;
$length:2em;

body {
  font: $font-size "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: $font-size*1.5;
  font-weight: bold;
  line-height: $length;
  height: $length;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $length;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.btn{
  width: 9em;
  background-color: lavender;
  margin: 0.5em;
}