<script src="../scripts/main.js"></script>
<script src="../scripts/canvas.js"></script>
<section>
    <article id="accordion-area">
        <h3 id="area-square-area">Area of Square</h3>
        <div>
            <form ng-controller="formulaeInfo">
                <fieldset ng-init="sideZ=0">
                    <canvas id="canvas-square-area">Your browser does not support the HTML5 canvas tag.</canvas>
                    <div> {{infos[5].information}}</div>
                    <div class="blue-text">{{infos[5].formula}}</div>
                    <div>{{infos[5].explanation}}</div>
                    <legend>Square</legend>
                    <label for="tb-input-square-area" class="blue-text">Side A:</label>
                    <input type="text" id="tb-input-square-area" name="tb-input-square" ng-model="sideZ" />
                    <div>Square circumference
                        <spam class="blue-text">{{sideZ*sideZ}} </spam>
                    </div>
                </fieldset>
            </form>
        </div>
        </div>
        <h3 id="area-circle-area">area of Circle</h3>
        <div>
            <form ng-controller="formulaeInfo">
                <fieldset ng-init="radiusA=0">
                    <canvas id="canvas-circle-area">Your browser does not support the HTML5 canvas tag.</canvas>
                    <div> {{infos[6].information}}</div>
                    <div class="blue-text">{{infos[6].formula}}</div>
                    <div>{{infos[6].explanation}}</div>
                    <legend>Circle</legend>
                    <label for="tb-input-radius-area" class="blue-text">Radius:</label>
                    <input type="text" id="tb-input-radius-area" name="tb-input-radius-area" ng-model="radiusA" />
                    <br>
                    <div>Circle circumference
                        <spam id="container-circle" class="blue-text">{{radiusA*radiusA*3.1415926535*2}} </spam>
                    </div>
                </fieldset>
            </form>
        </div>
        <h3 id="area-triangle-area">area of Triangle</h3>
        <div>
            <form ng-controller="formulaeInfo">
                <fieldset ng-init="base=0,hightTriangle=0">
                    <legend>Triangle</legend>
                    <canvas id="canvas-triangle"></canvas>
                    <div> {{infos[7].information}}</div>
                    <div class="blue-text">{{infos[7].formula}}</div>
                    <div>{{infos[7].explanation}}</div>
                    <label for="tb-input-triangle-a" class="blue-text">Base B:</label>
                    <input type="text" id="tb-input-triangle-base" name="tb-input-triangle-base" ng-model="base" />
                    <br>
                    <label for="tb-input-triangle-hightTriangle" class="blue-text">Hight H:</label>
                    <input type="text" id="tb-input-triangle-hightTriangle" name="tb-input-triangle-hightTriangle" ng-model="hightTriangle" />
                    <br>

                    <div>Triangle circumference
                        <spam id="container-triangle-area" class="blue-text">{{0.5*1+base*1+hightTriangle*1}} </spam>
                    </div>
                </fieldset>
            </form>
        </div>
        <h3 id="area-rectangle-area">area of Rectangle</h3>
        <div>
            <form ng-controller="formulaeInfo">
                <fieldset ng-init="widthRect=0,higthRect=0">
                    <canvas id="canvas-rectangle"></canvas>
                    <div> {{infos[8].information}}</div>
                    <div class="blue-text">{{infos[8].formula}}</div>
                    <div>{{infos[8].explanation}}</div>
                    <legend>Rectangle</legend>
                    <label for="tb-input-rectangle-widthRect" class="blue-text">Width:</label>
                    <input type="text" id="tb-input-rectangle-widthRect" name="tb-input-rectangle-widthRect" ng-model="widthRect" />
                    <br>
                    <label for="tb-input-rectangle-higthRect" class="blue-text">Hight:</label>
                    <input type="text" id="tb-input-rectangle-higthRect" name="tb-input-rectangle-higthRect" ng-model="higthRect" />
                    <br>
                    <div>Rectangle circumference
                        <spam id="container-rectangle" class="blue-text">{{higthRect*widthRect}} </spam>
                    </div>
                </fieldset>
            </form>
        </div>
        <h3 id="area-polygon-area">area of Polygon</h3>
        <div>
            <form ng-controller="formulaeInfo">
                <fieldset ng-init="perimeterPolygon=0,aphotem=0">
                    <canvas id="canvas-polygon"></canvas>
                    <div> {{infos[9].information}}</div>
                    <div class="blue-text">{{infos[9].formula}}</div>
                    <div>{{infos[9].explanation}}</div>
                    <legend>Polygon</legend>
                    <label for="tb-input-polygon-perimeterPolygon" class="blue-text">Perimeter:</label>
                    <input type="text" id="tb-input-polygon-perimeterPolygon" name="tb-input-polygon-perimeterPolygon" ng-model="perimeterPolygon" />
                    <br>
                    <label for="tb-input-polygon-aphotem" class="blue-text">Aphotem:</label>
                    <input type="text" id="tb-input-polygon-aphotem" name="tb-input-polygon-aphotem" ng-model="aphotem" />
                    <br>
                    <div>Polygon circumference
                        <spam id="container-polygon" class="blue-text"> {{0.5*aphotem*perimeterPolygon}}</spam>
                    </div>
                </fieldset>
            </form>
        </div>
    </article>
</section>