<section class="row bg-light">
    <article class="mx-auto col-md-10">
        <div class="row">
            <h1 class="mx-auto text-success text-center"> Information for perimeter and area for square, circle, triangle, rectangle and polygon </h1>
            <div ng-controller="formulaeInfo">
                <div ng-repeat="i in infos">
                    <h2 class="text-primary text-center">{{i.header}}</h2>
                    <img ng-src="{{i.src}}" alt="perimeter">
                    <div class="text-info"> {{i.information}}</div>
                    <div class="blue-text">{{i.formula}}</div>
                    <div class="bottom">{{i.explanation}}</div>
                </div>
            </div>
        </div>
    </article>
</section>