body{
    margin:0;
    background-color:lightblue;
}
ul{
    width: 30%;
    margin:5%;
    padding:5%;
      background-color:blanchedalmond;
}
.todolist{
  
    border-bottom: 1px solid gray;
    padding: 2em;
}