        article {
            input {
                width: 2.5em;
            }
            button {
                margin: 1% 0 5% 50%;
            }
        }
        
        .right {
            border: 5px solid green;
        }
        
        .wrong {
            border: 5px solid red;
        }