        article {
            div>:nth-child(n) {
                margin: 1%;
            }
            input {
                width: 3em;
                font-size: 1rem;
            }
            button {
                margin: 1% 0 5% 50%;
            }
        }