body {
    background-color: azure;
}

#menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightcoral;
    color: white;
    font-size: large;
}

#menubar>li {
    display: inline-block;
}

#menubar>li>ul>li {
    display: block;
    text-decoration: none;
}

#menubar>li>ul>li>a {
    text-decoration: none;
}

section {
    margin-top: 15%;
}

.blue-text {
    color: blue;
    font-size: larger;
    font-weight: bolder;
}

fieldset {
    width: 30%;
}

#accordion>h3 {
    background-color: lightcoral;
}