<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Music Artists</title>
    <link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style/app.css">
</head>
<body ng-app="musicApp" ng-controller="PageController" ng-cloak>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="artist-details.html">Music Artists</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/edit-artist">Add Artist</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron" ng-controller="EditArtistController">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" name="newArtistForm">
                        <h1>Artist</h1>
                        <fieldset>
                            <legend>Main Inforamtion</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="name">Name</label>
                                <div class="col-lg-10">
                                    <input type="text" required="required" placeholder="Name" id="name" class="form-control form-validation" ng-model="artist.name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="image">Image</label>
                                <div class="col-lg-10">
                                    <input type="text" required="required" placeholder="Image URL" id="image" ng-pattern="/\.(gif|jpg|jpeg|tiff|png)$/i" class="form-control form-validation" ng-model="artist.image" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="date">Created</label>
                                <div class="col-lg-10">
                                    <input type="text" required="required" ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="Date Created (dd/mm/yy)" id="date" class="form-control form-validation" ng-model="artist.created" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Additional Information</legend>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="location">Location</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Location" id="location" class="form-control" ng-model="artist.additionalInformation.location" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="albums">Albums</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Albums" id="albums" class="form-control" ng-model="artist.additionalInformation.albums" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="singles">Singles</label>
                                <div class="col-lg-10">
                                    <input type="text" placeholder="Singles" id="singles" class="form-control" ng-model="artist.additionalInformation.singles" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="pull-right">
                                <button class="btn btn-default" type="submit" ng-disabled="newArtistForm.$invalid" ng-click="saveArtist(artist,newArtistForm)">Save</button>
                                <button class="btn btn-default" type="reset" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 image-container">
                    <img src="" ng-src="{{artist.image}}" alt="Prevew Image" />
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center">
        <hr />
        <small>Author:{{ author }}. Year:{{ year }}
        </small>
    </footer>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/PageContoller.js"></script>
    <script src="js/controllers/ArtistDetailsController.js"></script>
    <script src="js/controllers/EditArtistController.js"></script>
    <script src="js/filters/status.js"></script>
    <script src="js/services/artistData.js"></script>

</body>
</html>


