
body {
    background-color: #7D8B6A;
    color: black;
}

@font-face {
    font-family: TTWPGOTT;
    src: url('../fonts/TTWPGOTT.ttf') format('truetype');
}

.logo {
    font-family: TTWPGOTT;
    font-style: italic;
    font-weight: 900;
    text-shadow:10px 5px 5px #eee;
}

.newspaper-font {
    font-family: TTWPGOTT;
    font-style: italic;
    font-size: 1.5em;
}

.font-big {
    font-size: larger;
}

.many-books {
    width: 35%;
    height: 10%;
}

.sizes {
    width: 260px;
    height: 170px;
}

.jumbotron {
    background-color: #A3C573;
}

#logo-container {
    width: 5em;
}

img {
    width: 100%;
    height: 100%;
}

.red{
    color:red;
}

a {
    color: black;
}
 .mapCanvas {
            max-width: 100px!important;
            background: 100px!important;
        }
